#xiNetControlsButton {
    float: right;
}

/* xinetcontrol panel */
#xiNetButtonBar {
    /* border-left: 1px solid #eee; */
    float: right;
    background-color: var(--main-color);
    text-transform: uppercase;
    /* padding-left:15px; */
}

#xiNetButtonBar p div ul li label{
    display: block;
}


#ppiMessage{
    /*display: none;*/
    z-index: 1;
    position: fixed;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--main-color);
    color: #fff;
    padding:10px;
    /*margin: 10px;*/
    top:47px;
    left: 0px;
    text-align: right;
    width:125px;
}


#hiddenProteinsMessage{
    display: none;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--main-color);
    color: #fff;
    padding:10px;
    /*margin: 10px;*/
    top: 171px;
    left: 0px;
    text-align: right;
    width:125px;
}

#newGroupName{
    display: none;
}

.showHidden{
    margin: 0;
}


#autoLayoutButton{
    margin-left: 0;
}

#loadLayoutButton{
    display: inline-block;
}

/*
#colorSelector{
    display: none;
}
#spectrumControls label#colorSelectorLabel{
    display: none;
}
*/

.layoutLabel {
  padding-left: 10px;
  padding-right: 5px;
}

#xiNetButtonBar > .sectionDividerLeft {
    border-left: 1px solid rgba(255,255,255,255);
    margin-left: 0.5em;
}
