.selectView {
    height: 100%;
    overflow: hidden;
}

.selectView > div.scrollHolder {
    /* height: calc(100% - 45px); */
    flex-grow: 1;
    overflow: auto;
    min-height: 1px;
}

.selectView table  {
    border-collapse: separate;
}

.selectView table th  {
    vertical-align: bottom;
}

.selectView thead {
    background: #eee;
}

.selectView tbody tr:nth-child(even) {
    background: #eee;/* #e8e8ff; */
}

.selectView tbody tr:first-child {
    /* background: #99f; */
    color: #444;
    font-size: 1em;
}

/* this replaces a .selectView TBODY rule which doesn't work when border-collapse is set to separate */
.selectView tbody tr:first-child td {
    border-top: 2px solid #668;
}

.selectView tbody tr.matchRow td:not(:first-child), .selectView thead tr th:not(:first-child) {
    border-left: 1px solid #ddd;
}

.selectView thead tr {
    line-height: 1.3em;

    /* height: 1.5em; */
}

.selectView tbody tr {
    white-space: nowrap;
    line-height: 1.8em;
    height: 1.8em;
}

.selectView tr.matchRow {
    line-height: 1.1em;
    height: 1.1em;
}

.selectView tbody tr.matchRow td.colSectionStart:not(:first-child), .selectView thead tr th.colSectionStart:not(:first-child) {
    border-left: 3px solid #bbb;
}

.selectView td.number {
    text-align: right;
}

.selectView td.monospaced {
    font-family: monospace;
    font-size: 1.1em;
}

.selectView span.linkedResidue {
    color: #000;
    font-weight: bold;
}

.selectView td.maxWidth {
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selectView td.minWidth, .selectView th.minWidth {
    min-width: 7em;
}

.selectView td.emphasise {
    font-weight: bold;
    transform: scaleX(1.1);
}

.selectView tbody tr.spectrumShown2 {
    color: black;
    background: #afa;
}

.selectView .controlBar {
    background: var(--main-color);
    color: white;
    padding: 0.25em 0;
    flex-shrink: 0;
}

.selectView .controlBar > span {
    padding-left: 1em;
}

.buttonPressed {
    color: var(--main-color);
    background: white;
}

/* stop firefox making massive number box */
.selectView input[type='number'] {
    max-width: 3.5em;
}

.selectView .pager::before {
    content: "Page";
}

.selectView tr.matchRow.highlighted {
    fill: #fdc086;
    background-color: #fdc086;
    color: #222;
}

.selectView tbody tr:hover td, .selectView tbody tr:hover td a {
    color: inherit;
    background-color: inherit;
    -webkit-transition: initial;
    -moz-transition: initial;

    /* -ms-transition: initial; */
    -o-transition: initial;
    transition: initial;
}

.selectView .rightSpan {
    float: right;
}

.dynDiv .rightSpan label:hover {
    background: inherit;
}

.selectionTableHideToggle {
    display: none;
}

#alternatives .selectionTableHideToggle {
    display: inline-block;
}

.selectView .smallText {
    font-size: 0.8em;
    color: #a8a8a8;
}

.selectView tr:hover .smallText, .selectView tr.matchRow.highlighted .smallText, .selectView tr.spectrumShown2 .smallText {
    color: inherit;
}

.selectView input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.selectView input[type="number"]::-webkit-inner-spin-button,
.selectView input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.btnIncr {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.selectView .colourSwatchSquare {
    margin-left: 0;
    margin-right: 0.3em;
    border: none;
}
